/* Variables de color */
:root {
    --color-bg-primary: #101540;
    --color-bg-secondary: #700000;
    --color-bg-tertiary: #870000;
    --color-text-primary: #E9F2EF;
    --color-text-secondary: #333;
    --color-hover: #7E7F9A;
}

/* Reset y estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.6;
    color: var(--color-text-secondary);
    background-color: var(--color-text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilos del header */
header {
    background-color: var(--color-bg-primary);
    padding: 15px 30px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    max-width: 100px;
}

.logo h6 {
    color: var(--color-text-primary);
}

.elements a {
    color: var(--color-text-primary);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.elements a:hover {
    color: var(--color-hover);
    font-size: 22px;
}

.login {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login i {
    font-size: 40px;
    color: var(--color-text-primary);
    transition: color 0.3s ease;
}

.login a i:hover {
    color: var(--color-hover);
}

.login button {
    background-color: var(--color-bg-tertiary);
    color: var(--color-text-primary);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: var(--color-hover);
}

.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-text-primary);
}




/* Estilos específicos para la página de login */
.form-container {
    background-color: var(--color-bg-primary);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
}

.form-container h2 {
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: var(--color-hover);
}

.input-group input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid var(--color-hover);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--color-text-primary);
    color: var(--color-bg-primary);
}

.input-group input::placeholder {
    color: var(--color-hover);
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color-bg-tertiary);
    color: var(--color-text-primary);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-hover);
}

/* Footer Styles */
.footer {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.footer p, .footer h4 {
    margin: 5px 0;
}



/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
       
    }

    .headers {
        display: flex;
    }
    .logo {
      order: 2;
    }
    .elements {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        order: 4;
    }

    .elements a {
        padding: 10px;
        border-top: 1px solid var(--color-text-primary);
    }

   
    .elements.show {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5px; 
        padding-top: 10px;
       
    }
    
    .hamburger-icon {
        display: block;
        font-size: 50px;
        order: 1;
        cursor: pointer;
        color: var(--color-text-primary);
    }
    i{
        margin-left: 10px;
    }
    .login {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        order: 3;
    }

    h1 {
        font-size: 24px;
    }

  
    .login button {
        padding: 8px 16px;
        font-size: 14px;
    }

    main{
        margin: 30px 0;
    }
    .form-container {
        font-size: 16px;
        
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}




