$primary-color: #101540;
$secondary-color: #E9F2EF;
$accent-color: #870000;
$hover-color: #7E7F9A;
$font-family: 'Arial', sans-serif;
$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// Colores
$primary-color: #101540;
$secondary-color: #870000;
$text-color: #E9F2EF;
$hover-color: #7E7F9A;

// Fuentes y tamaños
$font-family: 'Lato', sans-serif;
$base-font-size: 16px;
