// Variables
$font-family: 'Arial', sans-serif;
$bg-color-body: #E9F2EF;
$bg-color-header: #101540;
$bg-color-button: #870000;
$text-color-light: #E9F2EF;
$text-color-dark: #00000F;
$border-color: #7E7F9A;
$hover-color: #7E7F9A;
