// Variables de color
$color-bg-primary: #101540;
$color-bg-secondary: #700000;
$color-bg-tertiary: #870000;
$color-text-primary: #E9F2EF;
$color-text-secondary: #333;
$color-hover: #7E7F9A;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global Styles
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: $color-text-secondary;
}

// Header Styles
header {
    background-color: $color-bg-primary;
    padding: 15px 30px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.logo {
    img {
        max-width: 100px;
    }
}

h6 {
    color: $color-text-primary;
}

.elements {
    a {
        color: $color-text-primary;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
            color: $color-hover;
            font-size: 22px; 
        }
    }
}

.login {
    display: flex; 
    gap: 5px;
    justify-items: center;
    justify-content: space-between;

    button {
        background-color: $color-bg-tertiary;
        color: $color-text-primary;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-hover;
        }
    }

    i {
        font-size: 40px; 
        color: $color-text-primary;
        margin-right: 15px;
    }

    a i:hover {
        color: $color-hover;
    }
}

.hamburger-icon {
    display: none;
}

i {
   width: 30px;
   height: 30px;
}

// Main Content Styles
.main-content {
    padding: 20px;
    margin: 5px auto;
}

h1 {
    color: $color-bg-primary;
    margin: 10px 0;
    padding: 5px;
    text-align: left;
}

.home, .ballena {
    border: 2px solid $color-bg-primary;
    margin: 10px 0;
    padding: 5px;
    border-radius: 2px;
    color: $color-bg-primary;
    background-color: $color-text-primary;
    font-size: 18px;
}

section .content {
    width: 95%;
    background-color: $color-hover;
    margin: 10px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    background-color: $color-text-primary;
    border: 2px solid $color-bg-primary;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.ballena3d {
    width: 100%;
    border: 2px solid $color-hover;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
}

.sketchfab-embed-wrapper,
iframe {
    width: 100%;
    height: 400px;
}

// Footer Styles
.footer {
    height: 70px;
    background-color: $color-bg-primary;
    color: $color-text-primary;
    text-align: center;
    padding: 10px 0;
}

// Responsive Styles
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    .headers {
        display: flex;
    }

    .logo {
        order: 2;
    }

    .elements {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        order: 4;

        a {
            padding: 10px;
            border-top: 1px solid $color-text-primary;
        }

        &.show {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px; 
            padding-top: 10px;
        }
    }

    .hamburger-icon {
        display: block;
        font-size: 50px;
        order: 1;
        cursor: pointer;
        color: $color-text-primary;
    }

    i {
        margin-left: 10px;
    }

    .login {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        order: 3;

        button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    h1 {
        font-size: 24px;
    }

    .home {
        padding: 10px;
        font-size: 16px;
    }

    .ballena3d, .sketchfab-embed-wrapper, iframe {
        height: 300px;
    }
}
