* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #E9F2EF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #101540;
  padding: 15px 30px;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  max-width: 100px;
}
.logo h6 {
  color: #E9F2EF;
}

.elements a {
  color: #E9F2EF;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.elements a:hover {
  color: #7E7F9A;
  font-size: 22px;
}

.login {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login i {
  font-size: 40px;
  color: #E9F2EF;
  transition: color 0.3s ease;
}
.login i:hover {
  color: #7E7F9A;
}
.login button {
  background-color: #870000;
  color: #E9F2EF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login button:hover {
  background-color: #7E7F9A;
}

.hamburger-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #E9F2EF;
}

.form-container {
  background-color: #101540;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 60%;
  margin: 80px auto;
}
.form-container h2 {
  color: #E9F2EF;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}
.input-group i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #7E7F9A;
}
.input-group input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #7E7F9A;
  border-radius: 5px;
  font-size: 16px;
  background-color: #E9F2EF;
  color: #101540;
}
.input-group input::-moz-placeholder {
  color: #7E7F9A;
}
.input-group input::placeholder {
  color: #7E7F9A;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #870000;
  color: #E9F2EF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #7E7F9A;
}

.footer {
  background-color: #101540;
  color: #E9F2EF;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
.footer p, .footer h4 {
  margin: 5px 0;
}

@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
  .headers {
    display: flex;
  }
  .logo {
    order: 2;
  }
  .elements {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    order: 4;
  }
  .elements a {
    padding: 10px;
    border-top: 1px solid #E9F2EF;
  }
  .elements.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    padding-top: 10px;
  }
  .hamburger-icon {
    display: block;
    font-size: 50px;
    order: 1;
    cursor: pointer;
    color: #E9F2EF;
  }
  i {
    margin-left: 10px;
  }
  .login {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 3;
  }
  .login button {
    padding: 8px 16px;
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  main {
    margin: 30px 0;
  }
  .form-container {
    font-size: 16px;
    width: 70%;
    height: 60%;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}/*# sourceMappingURL=login.css.map */