
@import url('./base/base.css');
header {
    background-color: #101540;
    padding: 15px 30px;
  }
  
  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .logo img {
    max-width: 50px;
  }
  
  .logo h1 {
    color: #E9F2EF;
    font-size: 8px;
  }
  
  .elements a {
    color: #E9F2EF;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  .elements a:hover {
    color: #7E7F9A;
    font-size: 22px;
  }
  
  .login {
    display: flex;
    gap: 5px;
    justify-items: center;
    justify-content: space-between;
  }
  .login button {
    background-color: #870000;
    color: #E9F2EF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login button:hover {
    background-color: #7E7F9A;
  }
  .login i {
    font-size: 40px;
    color: #E9F2EF;
    margin-right: 15px;
  }
  .login a i:hover {
    color: #7E7F9A;
  }
  
  .hamburger-icon {
    display: none;
  }
  
  i {
    width: 30px;
    height: 30px;
  }

  /* Footer Styles */
.footer {
  height: 70px;
  background-color: #101540;
  color: #E9F2EF;
  text-align: center;
  padding: 10px 0;
}
