// pages/_login.scss
body {
    font-family: 'Arial', sans-serif;
    background-color: #E9F2EF;
    margin: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 80px; 
}

.form-container {
    background-color: #101540;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form h2 {
    color: #E9F2EF;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px; 
    border: 1px solid #7E7F9A;
    border-radius: 5px;
    font-size: 16px;
    background-color: #E9F2EF;
    color: #00000F;
}
