// _variables.scss
$color-bg-primary: #101540;
$color-bg-secondary: #700000;
$color-bg-tertiary: #870000;
$color-text-primary: #E9F2EF;
$color-text-secondary: #ececec;
$color-hover: #7E7F9A;

// Variables de mesure
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 40px;

$border-radius-sm: 5px;
$border-radius-lg: 10px;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 30px;
$font-size-xxl: 40px;

$max-width-sm: 500px;
$max-width-md: 600px;
$max-width-lg: 1200px;

$icon-size-md: 40px;
$icon-size-lg: 50px;