// _footer.scss

.footer {
    background-color: #101540;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    
    p {
      color: #E9F2EF;
      text-align: center;
      margin: 0;
    }
  
    h4 {
      color: #E9F2EF;
      text-align: center;
      margin: 5px 0;
    }
  }
  