.form-container {
    background-color: $primary-color;
    padding: 30px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 400px;

    h2 {
        color: $secondary-color;
        text-align: center;
        margin-bottom: 20px;
    }

    .input-group {
        position: relative;
        margin-bottom: 20px;

        i {
            position: absolute;
            top: 12px;
            left: 10px;
            color: $hover-color;
        }

        input {
            width: 100%;
            padding: 10px 40px; 
            border: 1px solid $hover-color;
            border-radius: $border-radius;
            font-size: 16px;
            background-color: $secondary-color;
            color: #00000F;

            &::placeholder {
                color: $hover-color;
            }
        }
    }
}
