
 /*section content*/
 .section-content{
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--color-bg-primary);
    border-radius: 5px;
 }
 .article-content{
    display: flex;
    justify-content: space-evenly;
    
 }
/* Flexbox para .user */
.user {
    display: flex;
    align-items: center;
    order: 1;
    gap: 15px;
    background-color:var(--color-text-primary);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--color-bg-primary);
}

.user a {
    display: flex;
    align-items: center;
    color:var(--color-bg-primary);
    text-decoration: none;
    gap: 10px;
}

.user i {
    font-size: 40px; 
    color:var(--color-bg-primary);
    margin: 10px;
}

.user-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color:var(--color-bg-primary);

}

.user-info h4,
.user-info h5 {
    margin: 0;
}

/* style project */

.project {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    border: 2px solid var(--color-bg-primary);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
 .img-project img{
    border: 2px solid var(--color-bg-primary);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 10px;
   
}

h2{
  color: var(--color-bg-secondary);
  margin: 10px 5px;
  padding: 10px 5px;
}

.project .description {
    width: 45%;
    text-align: left;
}

/*Style fitcheros*/
.data_inici, .data_final {
  color: var(--color-bg-primary);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

#data-inici, #data-final{
  border: 2px solid var(--color-bg-primary);
  color: var(--color-bg-primary);
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
 
}

.arxiu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid var(--color-bg-primary);
  width: 98%;
  height: 88px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;

}
#ref_arxiu, #num_ref_carla{
  border: 2px solid var(--color-bg-primary);
  color: var(--color-bg-primary);
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
 
}
.label-arxiu, .label-carla{
  color: var(--color-bg-primary);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.section-Descripción{
  border: 2px solid var(--color-bg-primary);
  color: var(--color-bg-primary);
  height: 70px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

#descripcio{
  border: 2px solid var(--color-bg-primary);
  color: var(--color-bg-primary);
  width: 85%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.section-medidas{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid var(--color-bg-primary);
  width: 98%;
  height: 88px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.section-autores{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid var(--color-bg-primary);
  width: 98%;
  height: 88px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.fixa{
  border: 2px solid var(--color-bg-primary);
  width: 100%;
  height: auto;
}
.article-fixa{
  border: 2px solid var(--color-bg-primary);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.article-fixa h1{
   text-align: center;
}
 .description-fichero{
  border: 2px solid var(--color-bg-primary);
 }


/* Grid de Fixa */
.documentacio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(4, auto);   
  gap: 10px; 
  width: 100%;
  border: 2px solid var(--color-bg-primary);
  padding: 10px;
  background-color:var(--color-text-primary);
  border-radius: 5px;
}

.documentacio-item {
  background-color: var(--color-text-primary);
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--color-bg-primary);
}

  .observations {
      border: 2px solid var(--color-bg-primary);
      background-color: var(--color-text-primary);
      padding: 10px;
  }
  .observations-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);   
      gap: 10px; 
      border: 2px solid var(--color-bg-primary);
      background-color: var(--color-text-primary);
      padding: 10px;
      border-radius: 5px;
}

.observation-item {
  background-color: var(--color-text-primary);
  padding: 10px;
  border: 2px solid var(--color-bg-primary);
  border-radius: 5px;
}

.checkbox-group-intervecio{
  display: flex;
  flex-direction: column;
  background-color: var(--color-text-primary);
  padding: 10px;
  border: 2px solid var(--color-bg-primary);
  border-radius: 5px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .project {
      display: flex;
      flex-direction: column; 
    }
  
    .description-caroussel p {
      text-align: justify; 
    }

    .project .img-project {
      border: 2px solid var(--color-bg-primary);
      border-radius: 5px;
      max-width: 380px;
      height: 270px;
      margin: 10px;
     
  }

}

